* {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  font-family: "맑은 고딕";
}

body, html {
  min-width: 1000px;
  color: #666666;
  background-color: #ffffff;
}

#imgslide {
  max-width: 100%;
}

.all {
  width: 100%;
  float: left;
}

.wrap {
  width: 1000px;
}

#contents {
  height: 500px;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.clear {
  clear: both;
  position: inherit;
}

header {
  height: 150px;
}

#header_logo {
  padding: 20px;
}

.logo {
  height: 100px;
  overflow: hidden;
  float: left;
}

.logo > a > img {
  width: 300px;
}

nav {
  float: left;
  padding-left: 50px;
}

.nav {
  width: 600px;
  height: 20px;
  margin-top: 20px;
}

.nav > li {
  width: 150px;
  float: left;
  text-align: center;
  position: relative;
  transition: all 0.4s;
  padding: 5px 0;
}

.nav > li:after {
  clear: both;
}

.nav > li:hover {
  background-color: #3366ff;
  color: #ffffff;
}

.submenu {
  display: none;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
}

.submenu > li {
  padding: 5px 0 5px 0;
  transition: all 0.4s;
  color: #000000;
}

.submenu > li:hover {
  background-color: #999;
  color: inherit;
}

#imgslide {
  margin: 0 auto;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

#imgs {
  position: absolute;
  width: 5000px;
}

#imgs img {
  float: left;
}

#imgsbar {
  position: relative;
  margin: 20px auto;
  width: 80px;
}

#imgsbar li a {
  float: left;
  width: 15px;
  height: 15px;
  background: url('01-메인이미지/dot.png') no-repeat;
}

#imgsbar a.active {
  background-position: 0 -30px;
}

.welcome {
  height: 100px;
  width: 300px;
  position: absolute;
  margin: 0px 0 0 0px;
  text-align: center;
  line-height: 100px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -150px;
}

.welcome h2 {
   color: #ffffff;
}

#contents {
  height: 500px;
}

.notice {
  width: 480px;
  float: left;
  margin-top: 20px;
}

.notice h2 {
  color: #666666;
  text-align: center;
  padding-bottom: 10px;
}

.table {
  border-collapse: collapse;
  font-size: 0.9em;
  color: #666666;
  width: 480px;
}

.table tr > td {
  padding-top: 10px;
  padding: 5px;
}

.table tr:nth-child(2n) {
  background-color: #cccccc;
}

.partner {
  width: 480px;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
}

.partner h2 {
  color: #666666;
  text-align: center;
  padding-bottom: 10px;
}

.partner_info {
  text-align: center;
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 25%;
  left: 30%;
  width: 800px;
  height: 400px;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  display: none;
}

.modal .content {
  margin: 20px auto;
  margin-top: 50px;
  padding: 20px;
  width: 600px;
  background-color: #ffffff;
}

.modal .content img {
  display: block;
  margin: 0 auto;
  padding: 20px 30px;
}

.modal .content button {
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #999999;
  cursor: pointer;
}

.icon {
  margin-top: 10px;
  position: relative;
  left: 0%;
}

.icons {
  text-align: center;
}

.btn {
  width: 150px;
  margin-left: 120px;
  float: left;
  text-align: center;
}

.btn > button:hover {
  background-color: #3366ff;
}

.btn button {
  padding: 10px;
  background-color: #999999;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 50px;
}

.btn img {
  width: 200px;
}

footer {
  height: 100px;
  width: 1000px;
  position: relative;
  background-color: #36f;
  color: #fff;
  overflow: hidden;
  margin-top: -20px;
}

footer .wrap {
  padding: 10px 20px;
}

footer ul {
  width: 50%;
  float: left;
}

footer ul > li {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

footer p {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 12px;
}